'scopeName': 'source.openacc'
'comment': 'OpenACC rules for C'
'name': 'OpenACC-C'
'fileTypes': ['.c', '.h.in']
'injectionSelector': 'source.c, comment'
'patterns':[
  {
    'name': 'meta.directive.openacc'
    'match':'(\\W\\w+\\sacc)\\s+(\\w+)'
    'captures':
      '1':
        'name': 'keyword.control.openacc'
      '2':
        'name': 'type.clause.openacc'
  }
]
'repository':
  'clauses':
    'patterns':[
      {
        
      }
    ]
